/.vs/AISupport.slnx/v18/.futdcache.v2
/.vs/AISupport.slnx/v18/.suo
/.vs/AISupport.slnx/v18/DocumentLayout.backup.json
/.vs/AISupport.slnx/v18/DocumentLayout.json
/.vs/AISupport.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/AISupport.slnx/FileContentIndex/068f4259-08f5-4448-933b-14ecfee17f8d.vsidx
/.vs/AISupport.slnx/FileContentIndex/1ae15ba5-749d-4682-9f1e-0018b63e9c8d.vsidx
/.vs/AISupport.slnx/FileContentIndex/4cc8666f-6023-4c0d-8a93-80a3db70e6ba.vsidx
/.vs/AISupport.slnx/FileContentIndex/6ec981aa-0ae4-4c9c-b617-29255e31e093.vsidx
/.vs/AISupport.slnx/FileContentIndex/d7239b12-d901-4973-80d7-ea54e096d421.vsidx
/.vs/AISupport.slnx/FileContentIndex/8fd4ec5f-a047-4f17-af64-d25f84627e1b.vsidx
/.vs/AISupport.slnx/config/applicationhost.config
/.vs/AISupport/CopilotIndices/18.9.1311.36310/SemanticSymbols.db
/.vs/AISupport/CopilotIndices/18.9.1319.62376/SemanticSymbols.db
/.vs/AISupport/CopilotIndices/18.9.1319.62376/SemanticSymbols.db-shm
/.vs/AISupport/CopilotIndices/18.9.1319.62376/SemanticSymbols.db-wal
/.vs/AISupport.slnx/FileContentIndex/65a6eaf9-47d7-483b-9db6-215ef8a4a4d5.vsidx
/.vs/AISupport.slnx/FileContentIndex/3e2935ee-c155-4b3c-8e65-16fa411b64a3.vsidx
/bin/Debug/net10.0/AISupport.deps.json
/bin/Debug/net10.0/AISupport.dll
/bin/Debug/net10.0/AISupport.exe
/bin/Debug/net10.0/AISupport.pdb
/bin/Debug/net10.0/AISupport.runtimeconfig.json
/bin/Debug/net10.0/AISupport.staticwebassets.endpoints.json
/bin/Debug/net10.0/appsettings.Development.json
/bin/Debug/net10.0/appsettings.json
/bin/Debug/net10.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net10.0/Microsoft.Bcl.Cryptography.dll
/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net10.0/Microsoft.OpenApi.dll
/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
/obj/Debug/net10.0/EndpointInfo/AISupport.json
/obj/Debug/net10.0/EndpointInfo/AISupport.OpenApiFiles.cache
/obj/Debug/net10.0/refint/AISupport.dll
/obj/Debug/net10.0/ref/AISupport.dll
/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/obj/Debug/net10.0/AISupport.AssemblyInfo.cs
/obj/Debug/net10.0/AISupport.AssemblyInfoInputs.cache
/obj/Debug/net10.0/AISupport.assets.cache
/obj/Debug/net10.0/AISupport.csproj.AssemblyReference.cache
/obj/Debug/net10.0/AISupport.csproj.BuildWithSkipAnalyzers
/obj/Debug/net10.0/AISupport.csproj.CoreCompileInputs.cache
/obj/Debug/net10.0/AISupport.csproj.FileListAbsolute.txt
/obj/Debug/net10.0/AISupport.csproj.Up2Date
/obj/Debug/net10.0/AISupport.dll
/obj/Debug/net10.0/AISupport.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net10.0/AISupport.genruntimeconfig.cache
/obj/Debug/net10.0/AISupport.GlobalUsings.g.cs
/obj/Debug/net10.0/AISupport.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net10.0/AISupport.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net10.0/AISupport.pdb
/obj/Debug/net10.0/ApiEndpoints.json
/obj/Debug/net10.0/apphost.exe
/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/obj/Debug/net10.0/rpswa.dswa.cache.json
/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/obj/Debug/net10.0/staticwebassets.build.json
/obj/Debug/net10.0/staticwebassets.build.json.cache
/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/obj/Debug/net10.0/staticwebassets.removed.txt
/obj/Debug/net10.0/swae.build.ex.cache
/obj/AISupport.csproj.nuget.dgspec.json
/obj/AISupport.csproj.nuget.g.props
/obj/AISupport.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/AISupport.slnx/FileContentIndex/726a887a-75de-4484-aa36-167d26066ae5.vsidx
/.vs/AISupport.slnx/FileContentIndex/d263f713-1f12-4a73-9ebb-7d1e8418112b.vsidx
/.vs/AISupport.slnx/FileContentIndex/a1d7e68b-2ce8-4212-881c-33b7e168d699.vsidx
/.vs/AISupport.slnx/FileContentIndex/fd87524d-ddd0-4448-ab40-d5c2b9dc33e4.vsidx
/.vs/AISupport.slnx/FileContentIndex/fdb9e6c2-9754-48ce-8771-6d8bfa75efed.vsidx
/.vs/ProjectEvaluation/aisupport.metadata.v10.bin
/.vs/ProjectEvaluation/aisupport.projects.v10.bin
/.vs/ProjectEvaluation/aisupport.strings.v10.bin
